
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.radio-canada.ca/q_auto,w_960/v1/ici-info/16x9/uneprem-salle-cinema.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<%= cl_image_tag("bae7gdfyeltlppc5zlzl",
      width: 400, height: 300, crop: :fill) %>

<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to list.name, list_path(list) %>
  </div>
<% end %>
