
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("cinema-banner.jpg")%>');">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>


<%= render 'category', list: @list %>
