<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<a class="btn btn-ghost" href="<%= new_list_bookmark_path(@list) %>">Add a movie to this category</a>

<%= render 'movie-card', list: @list %>
