<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://previews.123rf.com/images/sabelskaya/sabelskaya1702/sabelskaya170200929/72885973-cinema-objects-popcorn-in-red-and-white-striped-bucket-and-retro-style-film-reel-sketch-vector-illus.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= lists_path %>">My Lists of category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_list_path %>">Create a new category</a>
          </li>
      </ul>
    </div>
  </div>
</div>
