.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  margin: 0 0 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
